<ng-container *ngIf="!isAdmin" >
  <app-caisse-details></app-caisse-details>
</ng-container>
<ng-container *ngIf="isAdmin" >
  <div class="tab-tools">
    <span class="tab-tools-title">{{'list_of_caisse' | translate}}</span>
    <div class="tab-export-tools">
      <button class="btn btn-default">
        <i class="fa fa-print"></i>
      </button>
      <button class="btn btn-default">
        <i class="fa fa-download"></i>
      </button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="newCaisse()">
        <i class="fa fa-plus"></i>
        {{'new_caisse' | translate}}
      </button>
    </div>
  </div>
  <div class="ps-card">
    <div class="ps-card-body">
      <ng-container *ngIf="(caisse$ | async) as result" [ngSwitch]="result?.dataState">
        <ng-container *ngSwitchCase="0">
          <div class="loader-spinner">
            <img src="../../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <div class="table-content">
            <table>
              <thead>
                <th>Id</th>
                <th>{{ 'nom' | translate}}</th>
                <th>{{ 'ref' | translate}}</th>
                <th>{{ 'status' | translate}}</th>
                <th>{{ 'solde' | translate}}</th>
                <th>{{ 'createdBy' | translate}}</th>
                <th>{{ 'date_creation' | translate}}</th>
                <th>Actions</th>
              </thead>
              <tbody>
                <tr *ngFor="let caisse of result?.data?.content">
                  <td>{{ caisse?.id }}</td>
                  <td>{{ caisse?.nom }}</td>
                  <td>{{ caisse?.ref }}</td>
                  <td>{{ caisse?.status }}</td>
                  <td>{{ caisse?.solde }} FCFA</td>
                  <td>{{ caisse?.user?.firstname }} {{ caisse?.user?.lastname }}</td>
                  <td>{{ caisse?.createdAt | date:'dd-MM-yyyy'}}</td>
                  <td class="actions">
                    <div class="dropdown">
                      <button class="btn btn-table-action" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li (click)="deleteCaisse(caisse)">
                          <a class="dropdown-item">
                            <i class="fa fa-trash"></i>
                            &nbsp;
                            {{'delete' | translate}}
                          </a>
                        </li>
                        <li (click)="updateCaisse(caisse)">
                          <a class="dropdown-item">
                            <i class="fa fa-trash"></i>
                            &nbsp;
                            {{'update' | translate}}
                          </a>
                        </li>
                        <li (click)="validate(caisse)" *ngIf="localData.userDetails?.role?.includes('ROLEADMIN')">
                          <a class="dropdown-item">
                            <i class="fa fa-trash"></i>
                            &nbsp;
                            {{'validate' | translate}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-paginator [pageIndex]="currentPageIndex" [length]="currentPageElementSize"
            [pageSizeOptions]="pagesElementSize"></mat-paginator>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          error
          <!-- // TODO Show Error Illustration here-->
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
