.info-wrapper{
    display: flex;
    flex-direction: column;

    .info-item {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .element{
            font-size: 1.2rem;
        }

        .value{
            font-size: medium;
        }
    }
}