<ng-container *ngIf="(currentBail$ | async) as data" [ngSwitch]="data?.dataState">
  <ng-container *ngSwitchCase="0">
    <div class="loader-spinner">
      <img src="../../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <div class="row">
      <div class="col-md-4">
        <div class="ps-card">
          <div class="ps-card-header">
            <span class="ps-card-title">
              <i class="fa fa-ticket" aria-hidden="true"></i> &nbsp;
              Contrat de bail
            </span>
          </div>
          <div class="ps-card-body">
            <div class="info-wrapper">
              <div class="info-item">
                <span class="element">Numéro de resvation</span>
                <span class="value">{{ data.data?.numReservation }}</span>
              </div>
              <div class="info-item">
                <span class="element">Date de creation</span>
                <span class="value">{{ data.data?.createdAt | date: 'dd-MM-yyyy HH:mm:ss' }}</span>
              </div>
              <div class="info-item">
                <span class="element">Periode</span>
                <span class="value">{{ data.data?.sejour }} mois</span>
              </div>
              <div class="info-item">
                <span class="element">Echeance dans</span>
                <span class="value">{{ data.data?.echeance }}</span>
              </div>
              <div class="info-item">
                <span class="element">status</span>
                <div class="value">
                  <ng-container [ngSwitch]="data.data?.statut">
                    <ng-container *ngSwitchCase="'CONFIRME'">
                      <span class="ps-chip chip-success">{{ data.data?.statut }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'ANNULE'">
                      <span class="ps-chip chip-danger">{{ data.data?.statut }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CLOTURER'">
                      <span class="ps-chip chip-primary">{{ data.data?.statut }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'RESERVE'">
                      <span class="ps-chip chip-secondary">{{ data.data?.statut }}</span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="info-item">
                <span class="element">Indice d'entrée</span>
                <span class="value">{{ data.data?.indiceEntre }} Kw</span>
              </div>
              <div class="info-item">
                <span class="element">Indice de sorti</span>
                <span class="value">{{ data.data?.indiceSortie }} Kw</span>
              </div>
              <div class="info-item">
                <span class="element">Consomation total</span>
                <span class="value">{{ data.data?.moyenneConso }} Kw</span>
              </div>
              <div class="info-item">
                <span class="element">Date d'entrée</span>
                <span class="value">{{ data.data?.dateEntre| date: 'dd-MM-yyyy' }}</span>
              </div>
              <div class="info-item">
                <span class="element">Date de sortie</span>
                <span class="value">{{ data.data?.validite | date: 'dd-MM-yyyy' }}</span>
              </div>
            </div>
          </div>
          <div class="ps-card-footer">
            <a [href]="getSanitizedLink(data.data?.pj)" target="_blank">Voir le contrat</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ps-card">
          <div class="ps-card-header">
            <span class="ps-card-title">
              <i class="fa fa-user"></i>&nbsp;
              Informations du locataire
            </span>
          </div>
          <div class="ps-card-body">
            <div class="info-wrapper">
              <ng-container *ngIf="data.data?.locataireParticulier">
                <div class="info-item">
                  <span class="element">Nom</span>
                  <span class="value">{{ data.data?.locataireParticulier?.nom }}</span>
                </div>
                <div class="info-item">
                  <span class="element">Prenom</span>
                  <span class="value">{{ data.data?.locataireParticulier?.prenom }}</span>
                </div>
                <div class="info-item">
                  <span class="element">Téléphone</span>
                  <span class="value">{{ data.data?.locataireParticulier?.telephone }}</span>
                </div>
                <div class="info-item">
                  <span class="element">Lieu de travail</span>
                  <span class="value">{{ data.data?.locataireParticulier?.lieuTravail }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="data.data?.locataireSociete">
                <div class="info-item">
                  <span class="element">Raison sociale</span>
                  <span class="value">{{ data.data?.locataireSociete?.raisonSociale }}</span>
                </div>
                <div class="info-item">
                  <span class="element">NIU</span>
                  <span class="value">{{ data.data?.locataireSociete?.niu }}</span>
                </div>
                <div class="info-item">
                  <span class="element">Locataire</span>
                  <span class="value">{{ data.data?.locataireSociete?.nomGerant }}</span>
                </div>
                <div class="info-item">
                  <span class="element">Profession</span>
                  <span class="value">{{ data.data?.locataireSociete?.profession }}</span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="ps-card-footer">
            <ng-container *ngIf="data.data?.locataireParticulier">
              <a [routerLink]="['/locataire/particulier/details', data.data?.locataireParticulier?.id]">Voir plus</a>
            </ng-container>
            <ng-container *ngIf="data.data?.locataireSociete">
              <a [routerLink]="['/locataire/societe/details', data.data?.locataireSociete?.id]">Voir plus</a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ps-card">
          <div class="ps-card-header">
            <span class="ps-card-title">
              <i class="fa fa-building"></i>&nbsp;
              Informations du local
            </span>
          </div>
          <div class="ps-card-body">
            <div class="info-wrapper">
              <div class="info-item">
                <span class="element">Nom</span>
                <span class="value">{{ data.data?.local?.nomLocal }}</span>
              </div>
              <div class="info-item">
                <span class="element">Numero du local</span>
                <span class="value">{{ data.data?.local?.numeroLocal }}</span>
              </div>
              <div class="info-item">
                <span class="element">Type</span>
                <span class="value">{{ data.data?.local?.typeLocal }}</span>
              </div>
              <div class="info-item">
                <span class="element">Type</span>
                <span class="value">{{ data.data?.local?.typeLocal }}</span>
              </div>
              <div class="info-item">
                <span class="element">Status</span>
                <span class="value" [ngClass]="getLocalStatusStyle(data.data?.local?.status)">{{ data.data?.local?.status }}</span>
              </div>
              <div *ngIf="data.data?.statut != 'CLOTURER'">
                <div class="dt-actions" *ngIf="canShow(data.data)">
                  <button class="btn btn-primary" *ngIf="data.data?.local?.status == 'LIBRE' && canOccupied(data.data)" rbButton [loading]="occuperLocalLoading" (click)="occuperLocal(data.data)">Occuper le local</button>
                  <button class="btn btn-default" *ngIf="data.data?.local?.status == 'OCCUPE' && canClose(data.data) " rbButton [loading]="occuperLocalLoading" (click)="libererLocal(data.data)">Cloturer le bail</button>
                </div>
                <div class="dt-actions">
                  <button class="btn btn-secondary" *ngIf="data.data?.local?.status != 'HORS_SERVICE' " rbButton [loading]="loading" (click)="miseHosService(data.data?.local)">Mettre hors service</button>
                  <button class="btn btn-primary" rbButton [loading]="loading" (click)="changeLocal(data.data)">Changer de local</button>
                  <span *ngIf="!canShow(data.data) && data.data?.local?.status == 'HORS_SERVICE'">Certaines actions seront disponibles à partir de la date d'entrée specifiée dans le contrat de bail</span>
                </div>
              </div>
            </div>
          </div>
          <div class="ps-card-footer">
            <a [routerLink]="['/local/local-detail/', data.data?.local?.id]">Voir plus</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="ps-card">
          <div class="ps-card-header">
            <span class="ps-card-title">
              <i class="fa fa-money"></i>&nbsp;
              Informations de paiement
            </span>
          </div>
          <div class="ps-card-body">
            <div class="info-wrapper">
              <div class="info-item">
                <span class="element">Status du paiement</span>
                <div class="value">
                  <ng-container [ngSwitch]="data.data?.paymentStatus">
                    <ng-container *ngSwitchCase="'PAYE'">
                      <span class="ps-chip chip-success">{{ data.data?.paymentStatus }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'IMPAYE'">
                      <span class="ps-chip chip-danger">{{ data.data?.paymentStatus }}</span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'PARTIELLE'">
                      <span class="ps-chip chip-warning">{{ data.data?.paymentStatus }}</span>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="info-item">
                <span class="element">Montant total</span>
                <span class="value">{{ data.data?.totalAmount || 0 | hundredSeparator }} FCFA</span>
              </div>
              <div class="info-item">
                <span class="element">Montant Payé</span>
                <span class="value">{{ data.data?.paidAmount || 0 | hundredSeparator }} FCFA</span>
              </div>
              <div class="info-item">
                <span class="element">Montant restant</span>
                <span class="value">{{ data.data?.restAmount || 0 | hundredSeparator }} FCFA</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="ps-card">
          <div class="ps-card-header">
            <span class="ps-card-title">Liste des paiements éffectués</span>
          </div>
          <div class="ps-card-body">
            <mat-accordion class="mb-2" *ngFor="let payment of payments; let i = index">
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Paiement #{{ i + 1 }} du {{ payment?.createdAt | date:'dd-MM-yyyy' }} a {{ payment?.createdAt | date:'HH:mm:ss' }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row justify-content-end">
                  <div class="info-wrapper">
                    <div class="info-item">
                      <span class="element">Moyen de paiement</span>
                      <span class="value">{{ payment?.paymentMethod }}</span>
                    </div>
                    <div class="info-item">
                      <span class="element">Montant</span>
                      <span class="value">{{ payment?.amount }}</span>
                    </div>
                    <div class="info-item">
                      <span class="element">Reste</span>
                      <span class="value">{{ payment?.rest }}</span>
                    </div>
                    <div class="info-item">
                      <span class="element">Remise</span>
                      <span class="value">{{ payment?.discount }}</span>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
