.info-wrapper{
    display: flex;
    flex-direction: column;

    .info-item {
        padding: 10px;
        display: flex;
        justify-content: space-between;

        .element{
            font-size: 1.2rem;
        }

        .value{
            font-size: medium;
        }
    }
}

.dt-actions{margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #787878;
  font-size: 16px;
}
