<div class="tab-tools">
  <span class="tab-tools-title">{{'list_of_booking' | translate}}</span>

  <div>
    <button class="btn btn-primary" (click)="newReservation()">
      <i class="fa fa-plus"></i>
      {{'new_booking' | translate}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="ps-card">
      <div class="ps-card-body">
        <ng-container *ngIf="(reservation$ | async) as result" [ngSwitch]="result?.dataState">
          <ng-container *ngSwitchCase="0">
            <div class="loader-spinner">
              <img src="../../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <div class="table-content">
              <table>
                <thead>
                <th>Id</th>
                <th>{{'dateEntre' | translate }}</th>
                <th>{{'dateSortir' | translate }}</th>
                <th>{{'locataire' | translate}}</th>
<!--                <th>{{'numReservation' | translate}}</th>-->
                <th>{{'local_number' | translate}}</th>
                <th>{{'amount' | translate}}</th>
                <th>{{'rest_amount' | translate}}</th>
                <th>{{'total_amount' | translate}}</th>
                <th>{{'status' | translate}}</th>
                <th>{{'payement' | translate}}</th>
                <th>Actions</th>
                </thead>
                <tbody>
                <tr *ngFor="let reservation of result?.data?.content">
                  <td>#{{ reservation?.id }}</td>
                  <td>{{ reservation?.dateReservation | date : 'dd/MM/yyyy' }}</td>
                  <td>{{ reservation?.validite | date : 'dd/MM/yyyy' }}</td>
                  <td>
                    <ng-container *ngIf="!reservation.locataireParticulier && !reservation.locataireSociete">
                      {{ reservation?.prenom }} {{ reservation?.nom }}
                    </ng-container>
                    <ng-container *ngIf="reservation.locataireSociete || reservation.locataireParticulier">
                      <ng-container *ngIf="reservation.locataireParticulier">
                        {{reservation?.locataireParticulier?.prenom}} {{reservation?.locataireParticulier?.nom}}
                      </ng-container>
                      <ng-container *ngIf="reservation.locataireSociete">
                        {{reservation?.locataireSociete?.nomGerant}}
                      </ng-container>
                    </ng-container>
                  </td>
<!--                  <td>{{ reservation?.numReservation }}</td>-->
                  <td>{{ reservation?.local?.numeroLocal }}</td>
                  <td>{{ reservation?.paidAmount || 0 | hundredSeparator }} FCFA</td>
                  <td>{{ reservation?.restAmount || 0 |hundredSeparator }} FCFA</td>
                  <td>{{ reservation?.totalAmount || 0 | hundredSeparator }} FCFA</td>
                  <td>
                    <span class="ps-chip" [ngClass]="getBookingStatusStyle(reservation?.statut)">{{ reservation?.statut }}</span>
                  </td>
                  <td>
                      <span class="ps-chip" [ngClass]="getPaymentStatusStyle(reservation?.paymentStatus)">{{ reservation?.paymentStatus }}</span>
                  </td>
                  <td class="actions">
                    <div class="dropdown">
                      <button class="btn btn-table-action" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item" (click)="onOpenDetails(reservation)">
                          <i class="bx bx-detail"></i>
                          &nbsp;
                          {{'details' | translate}}
                        </li>
                        <ng-container *ngIf="reservation?.statut != 'ANNULE' && reservation?.statut != 'CLOTURER' ">
                          <li class="dropdown-item" (click)="cancelBooking(reservation)">
                            <i class="fa fa-ban"></i>
                            &nbsp;
                            {{'cancel' | translate}}
                          </li>
                        </ng-container>
                        <ng-container *ngIf="reservation?.paymentStatus != 'PAYE' && reservation?.statut != 'ANNULE' && reservation?.statut != 'CLOTURER'">
                          <li class="dropdown-item" (click)="openPayment(reservation)">
                            <i class="bx bx-wallet-alt"></i>
                            &nbsp;
                            {{'new_payment' | translate}}
                          </li>
                        </ng-container>
                        <li class="dropdown-item" (click)="updateBooking(reservation)">
                          <a [href]="getDownloadLink(reservation)" target="_blank">
                            <i class="fa fa-edit"></i>
                            &nbsp;
                            {{'download_receipt' | translate}}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <mat-paginator
              [pageIndex]="currentPageIndex"
              [length]="numberOfElement"
              [pageSize]="currentPageElementSize"
              [pageSizeOptions]="pagesElementSize"
            ></mat-paginator>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            error
            <!-- // TODO Show Error Illustration here-->
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-4">
    <div class="ps-card">
      <div class="ps-card-body">
        <div class="counter-widget-wrapper">
          <div class="counter">
            <span class="counter-text">{{ pad(numberOfElement) }}</span>
          </div>
          <span class="counter-title">Reservations</span>
        </div>
      </div>
    </div>
    <div class="ps-v-spacer"></div>
    <div class="ps-card">
      <div class="ps-card-body">
        <canvas baseChart
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [type]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div> -->
</div>
