:host{
  display: flex;
  height: 35px;
  align-items: stretch;
  border: 1px solid #5a5757;
  width: fit-content;
}
input{
  background-color: transparent;
  border: 1px solid transparent;
}
button{
  border: 1px solid transparent;
  padding: 5px;
  width: 40px;
  i{
    font-size: 20px;
    color: #383838;
  }
}
