.counter-widget{
  border: 1px solid transparent;
  background-color: #f3f3f3;
  color: #525252;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.04);
  height: 120px;

  .icon{
    border: 1px solid transparent;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 91, 243, 0.09);
    color: #1e3e9f;

    i {
      font-size: 30px;
    }

    // Icons color
    &.icon-danger{
      color: #BD1628;
      background-color: rgba(189, 22, 40, 0.09);
    }

    &.icon-green{
      color: #1ba537;
      background-color: rgb(27, 165, 55, 0.09);
    }

    &.icon-warn{
      color: #d08a0a;
      background-color: rgb(208, 138, 10, 0.09);
    }
  }
  .counter-info {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;

    .title {
      font-size: 1.1rem;
      display: block;
    }

    .value {
      display: block;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .sub-value {
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}

.ps-card-header i{
  line-height: 60px;
  text-align: center;
  min-width: 50px;
  font-size: 30px;
}

.top-wrapper{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .position{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: #c1bfbf;
    // color: #333;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .left-info, .right-info{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .info-1{
    font-size: 1.5rem;
    font-weight: 500;
  }
  .info-2{
    font-size: 0.9rem;
    color: #707070;
  }

  .info-3{
    font-size: 0.8rem;
    color: #707070;
  }
}
