<app-notifier></app-notifier>
<ng-container *ngIf="!appStore.getData().sessionExists || !(appStore.data$ | async)?.hasCashierOpened">
  <router-outlet></router-outlet>
</ng-container>
<!-- {{ 'session exists : ' + appStore.getData().sessionExists + '\thascashier : ' + (appStore.data$ | async)?.hasCashierOpened }} -->
<ng-container *ngIf="appStore.getData().sessionExists && (appStore.data$ | async)?.hasCashierOpened">
  <div class="page-layout">
    <ps-navbar
      [navItems]="menuItems"
      [menuState]="menuState"
      (menuSelected)="getTitle($event)"
    ></ps-navbar>
    <div class="page-content">
      <ps-toolbar
        [toolbarTitle]="currentTitle"
        [badgeValue]="appStore.getData().notifications.length"
        [userAvatar]="appStore.getData().userDetails?.avatar || ''"
        [username]="appStore.getData().userDetails?.username"
        [userRole]="appStore.getData().userDetails?.role"
        (search)="onSearch($event)"
        (handleMenu)="onMenuHandled($event)"
        (handleLogout)="logout()"
        (showProfile)="showProfile()"
        (showParams)="showParams()"
      ></ps-toolbar>
      <router-outlet></router-outlet>
      <!-- <ps-version [name]="localData.appName" [version]="localData.appVersion"></ps-version> -->
    </div>
  </div>
</ng-container>
