<form [formGroup]="paymentForm">
    <span matDialogTitle>Nouveau paiement pour la bail {{ bail?.numReservation }}</span>
    <div matDialogContent>
      <div class="form-item">
        <label>{{'local_price' | translate}}</label>
        <span class="price">{{ bail.totalAmount || 0 }} FCFA</span>
      </div>
      <div class="form-item">
        <label for="paymentMethod">{{'paymentMethod' | translate}}</label>
        <div class="input-control" [class.error]="paymentForm?.get('paymentMethod')?.touched && paymentForm?.get('paymentMethod')?.hasError('required')">
          <select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
            <option value="">Selectionner un moyen de paiement</option>
            <option value="Virement bancaire">Virement bancaire</option>
            <option value="Chèque">Chèque</option>
            <option value="Espèces">Espèces</option>
            <option value="Orange Money">Orange Money</option>
            <option value="MTN Mobile Money">MTN Mobile Money</option>
          </select>
        </div>
        <span class="hint"></span>
        <span class="hint error" *ngIf="paymentForm?.get('paymentMethod')?.touched && paymentForm?.get('paymentMethod')?.hasError('required')">{{'required_field' | translate}}</span>
      </div>
      <div class="form-item">
        <label for="discount">{{'discount' | translate}} (%)</label>
        <div class="input-control" [class.error]="paymentForm?.get('discount')?.touched && paymentForm?.get('discount')?.hasError('required')">
          <input type="number" id="discount" min="0" max="100" #discount placeholder="10%" formControlName="discount" name="discount">
          <span class="input-error-image" *ngIf="paymentForm?.get('discount')?.touched && paymentForm?.get('discount')?.hasError('required')">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </span>
        </div>
        <span class="hint"></span>
        <span class="hint error" *ngIf="paymentForm?.get('discount')?.touched && paymentForm?.get('discount')?.hasError('required')">{{'required_field' | translate}}</span>
      </div>
      <div class="form-item">
        <label>{{ 'discount' | translate }} : {{ discount.value }}%</label>
        <span class="rest">{{ computeDiscount(discount.value) || 0 }} FCFA</span>
      </div>
      <div class="form-item">
        <label>{{'amount_to_pay' | translate}}</label>
        <span class="total-amount">{{ totalPrice || 0 }} FCFA</span>
      </div>
      <div class="form-item">
        <label for="amount">{{'amount' | translate}}</label>
        <div class="input-control" [class.error]="paymentForm?.get('amount')?.touched && paymentForm?.get('amount')?.hasError('required')">
          <input type="number" id="amount" min="0" #amount [placeholder]="currentLocal.prix * 2 || 0" formControlName="amount" name="amount">
          <span class="input-error-image" *ngIf="paymentForm?.get('amount')?.touched && paymentForm?.get('amount')?.hasError('required')">
            <i class="fa fa-ban" aria-hidden="true"></i>
          </span>
        </div>
        <span class="hint"></span>
        <span class="hint error" *ngIf="paymentForm?.get('amount')?.touched && paymentForm?.get('amount')?.hasError('required')">{{'required_field' | translate}}</span>
      </div>
      <div class="form-item">
        <label>{{ 'rest' | translate }}</label>
        <span class="rest">{{ computeRest(amount.value) || 0 }} FCFA</span>
      </div>
    </div>
    <div mat-dialog-actions class="dialog-actions">
      <button class="btn btn-default" [mat-dialog-close]="false">{{ 'cancel' | translate }}</button>
      <button class="btn btn-primary" [disabled]="paymentForm.invalid" (click)="performAction()">{{ 'save' | translate }}</button>
    </div>
  </form>
  