<div class="tab-tools">
  <span class="tab-tools-title">{{'list_of_employee' | translate}}</span>

  <div>
    <button class="btn btn-primary" (click)="newEmployee()">
      <i class="fa fa-plus"></i>
      {{'new_employee' | translate}}
    </button>
  </div>
</div>
<div class="ps-card">
  <div class="ps-card-body">
    <ng-container *ngIf="(employee$ | async) as result" [ngSwitch]="result?.dataState">
      <ng-container *ngSwitchCase="0">
        <div class="loader-spinner">
          <img src="../../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <div class="table-content">
          <table>
            <thead>
            <th>Id</th>
            <th>{{ 'nom' | translate }}</th>
            <th>{{ 'prenom' | translate}}</th>
            <th>{{ 'fonction' | translate}}</th>
            <th>{{ 'telephone' | translate}}</th>
            <th>{{ 'salaireMois' | translate}}</th>
            <th>{{ 'cni' | translate}}</th>
            <th>{{ 'date_creation' | translate}}</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let employee of result?.data?.content">
              <td>{{ employee?.id }}</td>
              <td>{{ employee?.nom }}</td>
              <td>{{ employee?.prenom }}</td>
              <td>{{ employee?.fonction }}</td>
              <td>{{ employee?.telephone }}</td>
              <td>{{ employee?.salaireMois }}</td>
              <td>{{ employee?.cni }}</td>
              <td>{{ employee?.createdAt | date:'dd-MM-yyyy'}}</td>
              <td class="actions">
                <div class="dropdown">
                  <button class="btn btn-table-action" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li (click)="deleteEmployee(employee)">
                      <a class="dropdown-item">
                        <i class="fa fa-trash"></i>
                        &nbsp;
                        {{'delete' | translate}}
                      </a>
                    </li>
                    <li (click)="updateEmployee(employee)">
                      <a class="dropdown-item">
                        <i class="fa fa-edit"></i>
                        &nbsp;
                        {{'update' | translate}}
                      </a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [pageIndex]="currentPageIndex"
          [length]="currentPageElementSize"
          [pageSizeOptions]="pagesElementSize"
        ></mat-paginator>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        error
        <!-- // TODO Show Error Illustration here-->
      </ng-container>
    </ng-container>
  </div>
</div>
