<div class="tab-tools">
  <span class="tab-tools-title">{{'list_of_user' | translate}}</span>
  
  <div>
    <button class="btn btn-primary" (click)="newUser()">
      <i class="fa fa-plus"></i>
      {{'new_user' | translate}}
    </button>
  </div>
</div>

<div class="ps-card">
  <div class="ps-card-body">
    <ng-container *ngIf="(users$ | async) as result" [ngSwitch]="result?.dataState">
      <ng-container *ngSwitchCase="0">
        <div class="loader-spinner">
          <img src="../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <div class="table-content">
          <table>
            <thead>
            <th>Id</th>
            <th>{{'lastname' | translate}}</th>
            <th>{{'first_name' | translate}}</th>
            <th>{{'phone' | translate}}</th>
            <th>{{'status' | translate}}</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let user of result?.data?.content">
              <td>#{{ user?.id }}</td>
              <td>{{ user?.lastname }}</td>
              <td>{{ user?.firstname }}</td>
              <td>{{ user?.phone }}</td>
              <td>
                <span class="status enable">{{'enable' | translate}}</span>
              </td>
              <td class="actions">
                <div class="dropdown">
                  <button class="btn btn-table-action" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li class="dropdown-item" (click)="enableUser(user)">
                        <i class="fa fa-trash"></i>
                        &nbsp;
                        {{'enable_user' | translate}}
                    </li>
                    <li class="dropdown-item" (click)="deleteUser(user)">
                        <i class="fa fa-trash"></i>
                        &nbsp;
                        {{'delete_user' | translate}}
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [pageIndex]="currentPageIndex"
          [length]="currentPageElementSize"
          [pageSizeOptions]="pagesElementSize"
        ></mat-paginator>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        error
        <!-- // TODO Show Error Illustration here-->
      </ng-container>
    </ng-container>
  </div>
</div>
