<div class="tab-tools">
  <span class="tab-tools-title">{{'list_of_depense' | translate}}</span>

  <div>
    <button class="btn btn-primary" (click)="newDepense()">
      <i class="fa fa-plus"></i>
      {{'new_depense' | translate}}
    </button>
  </div>
</div>
<div class="ps-card">
  <div class="ps-card-body">
    <ng-container *ngIf="(depense$ | async) as result" [ngSwitch]="result?.dataState">
      <ng-container *ngSwitchCase="0">
        <div class="loader-spinner">
          <img src="../../../../../assets/images/Spin-Preloader.gif" alt="Loading..." class="loading">
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <div class="table-content">
          <table>
            <thead>
            <th>{{ 'demandeur' | translate}}</th>
            <th>{{ 'local' | translate}}</th>
            <th>{{ 'type' | translate}}</th>
            <th>{{ 'total_amount' | translate}}</th>
            <th>{{ 'paid_amount' | translate}}</th>
            <th>{{ 'rest_amount' | translate}}</th>
            <th>{{ 'validated_by' | translate}}</th>
            <th>{{ 'date_creation' | translate}}</th>
            <th>{{ 'status' | translate}}</th>
            <th>Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let depense of result?.data?.content">
              <td>{{ depense?.demandeur }}</td>
              <td>{{ depense?.local?.nomLocal }} {{ depense?.local?.numeroLocal }}</td>
              <!-- <td>{{ depense?.categorie }}</td> -->
              <td>{{ depense?.type }}</td>
              <td>{{ depense?.montant | hundredSeparator}} FCFA</td>
              <td>{{ depense?.paidAmount| hundredSeparator}} FCFA</td>
              <td>{{ depense?.restAmount| hundredSeparator}} FCFA</td>
              <td>{{ depense?.validatedBy }}</td>
              <!-- <td>{{ depense?.commentaire }}</td> -->
              <td>{{ depense?.createdAt | date:'dd-MM-yyyy'}}</td>
              <td><span class="ps-chip" [ngClass]="getStatusStyle(depense.status)">{{ depense?.status }}</span></td>
              <td class="actions">
                <div class="dropdown">
                  <button class="btn btn-table-action" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li (click)="deleteDepense(depense)">
                      <a class="dropdown-item">
                        <i class="fa fa-trash"></i>
                        &nbsp;
                        {{'delete' | translate}}
                      </a>
                    </li>
                    <li (click)="showDetails(depense)">
                      <a class="dropdown-item">
                        <i class="fa fa-eye"></i>
                        &nbsp;
                        {{'details' | translate}}
                      </a>
                    </li>
                    <li (click)="updateDepense(depense)">
                      <a class="dropdown-item">
                        <i class="fa fa-edit"></i>
                        &nbsp;
                        {{'update' | translate}}
                      </a>
                    </li>
                    <ng-container *ngIf="(depense?.status != 'VALIDE' && depense?.status != 'CLOTURE') && localData?.userDetails?.role?.includes('ROLEADMIN')">
                      <li (click)="validateDepense(depense)">
                        <a class="dropdown-item">
                          <i class="fa fa-check"></i>
                          &nbsp;
                          {{'validate' | translate}}
                        </a>
                      </li>
                    </ng-container>
                    <ng-container *ngIf="(depense?.status != 'VALIDE' && depense?.status != 'CLOTURE') && localData?.userDetails?.role?.includes('ROLEADMIN')">
                      <li (click)="cloturerDepense(depense)">
                        <a class="dropdown-item">
                          <i class="fa fa-ban"></i>
                          &nbsp;
                          {{'close' | translate}}
                        </a>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <mat-paginator
          [pageIndex]="currentPageIndex"
          [length]="currentPageElementSize"
          [pageSizeOptions]="pagesElementSize"
        ></mat-paginator>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        error
        <!-- // TODO Show Error Illustration here-->
      </ng-container>
    </ng-container>
  </div>
</div>
