.form-item{
  border: 1px solid transparent;
  background-color: #c6c6c6;
  padding: 5px;
  border-radius: 5px;

  i{
    font-size: 17px;
  }
  input{
    border: 1px solid transparent;
    background-color: transparent;
  }
}
